@font-face{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/Lato-Italic.ttf') format('truetype');
}

@font-face{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/Lato-Bold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --grey: #4b514a;
    --yellow: #F2D638;

    --font-size-small: 1.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Lato', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;

    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

    --border-light: 1px solid rgb(36, 35, 35);
}

body{
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size-small);
    font-family: var(--font-stack);
    font-weight: 400;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*margins*/

.row{
    max-width: var(--container-max-width);
    margin: 0 auto;
}

section{
    padding: var(--gutter-huge) 0;
    border-bottom: var(--border-light);
}

img{
    object-fit: contain;
    max-width: 100%;
}

@media(max-width: 1340px){
    .row {
        max-width: 1100px;
    }
}

@media(max-width: 1240px){
    .row {
        padding: 0 var(--gutter-medium);
    }
}

@media(max-width: 600px){
    .row {
        padding: 0 var(--gutter-normal);
    }
}

@media(max-width: 600px){
    .row {
        padding: 0 var(--gutter-small);
    }
}

/*headers*/

h1, h2, h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--white);
}

.heading-primary{
    line-height: 1;
    font-size: var(--font-size-huge);
    font-weight: 400;
}

@media(max-width: 900px){
    .heading-primary {
        font-size: 6.5rem;
    }
}

h2{
    font-size: var(--font-size-large);
    margin-bottom: var(--gutter-medium);
}

h2::after{
    content: '';
    display: block;
    height: 2px;
    width: 30rem;
    background: var(--yellow);
    margin: var(--gutter-small) 0;
}

h3{
    font-size: var(--font-size-medium-1);
    margin-bottom: var(--gutter-small);
}

@media(max-width: 500px){
    .heading-primary{
        font-size: var(--font-size-large);
    }

    h2{
        font-size: var(--font-size-medium-1);
    }

    h3{
        font-size: var(--font-size-medium);
    }
}

p{
    margin: var(--gutter-small-1) 0;
}

@media(max-width: 900px){
    p{ 
        max-width: var(--container-small-width);
    }
}

/*buttons & links*/

a{
    color: var(--white);
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    transition: all .2s;
    outline: 2px solid transparent;
    text-decoration: none;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 1rem 4.2rem;
    text-decoration: none;
    color: inherit;
    border: 1px solid  var(--yellow);
    font-weight: 400;
}

.nav-item:hover{
    color: var(--yellow);
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  background: transparent;
  border: none;
  cursor: pointer;
}

.prev { left: 0.5rem; }
.next { right: 0.5rem; }

.slider-button svg {
  width: 2.5rem;
  height: 2.5rem;
  stroke: var(--white);
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.2s;
}

.slider-button:hover svg {
  stroke: var(--yellow);
}


/*Navigation*/
.nav{
    display: flex;
    justify-content: flex-end;
    padding: var(--gutter-normal) 0;
}

.nav-items{
    display: flex;
    list-style: none;
}

.nav-item:not(:last-child){
    margin-right: var(--gutter-medium);
}

@media(max-width: 500px){
    .nav {
        justify-content: center;
    }
}

@media(max-width: 400px){
    .nav-item:not(:last-child){
        margin-right: var(--gutter-normal);
    }
}

@media(max-width: 300px){
    .nav{
        font-size: var(--font-size-small);
    }
}

.nav-link{
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

/*Projects*/
.project-box{
    display: flex;
    align-items: center;
    gap: var(--gutter-normal);
}

@media(max-width: 900px) {
    .project-box{
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.project-box:not(:last-child){
    margin-bottom: 25rem;
}

@media(max-width: 500px){
    .project-box:not(:last-child) {
        margin-bottom: 20rem;
    }
}

/*.project-links{
    display: flex;
    align-items: center;
}*/

.project-text{
    flex: 0 0 45%;
}

.project-list{
    /* list-style-type: square; */
    list-style-position: inside;
    margin-bottom: var(--gutter-normal);
}

.project-image-box{
    flex: 1;
    position: relative;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    outline: 2px solid red;
}

.project-slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider{
    width: 100%;
    height: 100%;
    position: relative;
    inset: 0;
}

.slide {
    inset: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.slide.active {
  opacity: 1;
}

.slide img,
.slide video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media(min-width: 901px) {
    .slider{
        flex: 1;
        margin: 0 0 0 10rem;
    }
}


/*About Me*/
.about-content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

@media(max-width: 900px){
    .about-content {
        flex-direction: column-reverse;
        align-items: initial;
    }
}

.about-photo-container{
    margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px){
    .about-text{
        flex: 0 0 35%;
    }
    
    .about-photo-container{
        flex: 1;
        margin: 0 var(--gutter-huge) 0 0;
    }
}


/*Footer*/
.footer {
    text-align: center;
    padding: var(--gutter-medium) 0 var(--gutter-normal);
}

.footer-social-links{
    display: flex;
    justify-content: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
    gap:var(--gutter-normal);
}

.footer-social-link-item:not(:last-of-type){
    margin-right: var(--gutter-small);
}

.footer-social-image {
    height: 4rem;
}



@media(max-width: 500px){
    .footer{
        padding: var(--gutter-medium) 0;
    } 
}